/* ========================================================
   TEMA INSTITUCIONAL SETAB - INVENTARIOS (GUINDA/DORADO)
   ======================================================== */

/* 1. Reemplazar el lado derecho (Azul -> Textura Guinda + Escudo) */
.pf-v5-c-login__main {
    background-color: #981A35 !important;
    /* Capa 1: El logo centrado | Capa 2: La textura repitiéndose de fondo */
    background-image: url('../img/BANNER_HEADER_M.png'), url('../img/GOBIERNO_DEL_PUEBLO.png') !important;
    background-position: center center, center center !important;
    background-repeat: no-repeat, cover !important;
    background-size: 70%, cover !important;
    border-radius: 12px !important;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
}

/* 2. Ocultar el logo blanco por defecto de Keycloak */
.pf-v5-c-brand {
    display: none !important;
}

/* 3. Cambiar el Botón Principal (Azul -> Guinda) */
.pf-v5-c-button.pf-m-primary {
    background-color: #981A35 !important;
    color: #ffffff !important;
    border-radius: 6px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: 0.5px !important;
    transition: all 0.3s ease !important;
}

.pf-v5-c-button.pf-m-primary:hover {
    background-color: #691C32 !important;
    /* Guinda oscuro */
    box-shadow: 0 4px 6px -1px rgba(152, 26, 53, 0.4) !important;
}

/* 4. Cambiar color de enlaces (Azul -> Guinda) */
a {
    color: #981A35 !important;
    font-weight: 600 !important;
}

a:hover {
    color: #BC955C !important;
    /* Dorado al pasar el mouse */
}

/* 5. Acentos de los cuadros de texto (Input focus Azul -> Dorado/Guinda) */
.pf-v5-c-form-control:focus-within,
.pf-v5-c-form-control:focus {
    border-bottom-color: #981A35 !important;
    box-shadow: inset 0 -2px 0 0 #981A35 !important;
}

/* 6. Líneas separadoras finas (Para quitar bordes azules si los hay) */
.pf-v5-c-login__main-header {
    border-bottom: 2px solid #BC955C !important;
    /* Línea dorada sutil abajo del título */
    margin-bottom: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}